@import url('https://use.typekit.net/oov2wcw.css');
*{
    font-family: 'Century Gothic', sans-serif;

}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20 40px 20px 40px;
}
p{
    width: 100%;
}
.main{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    
}
.main div img{
    width: 100%
}
.legend{
    
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    right: -90%;
    top: -100px;
}
.info_box{
    margin: 20px;
    padding: 20px;
    border: 1px solid #d5d5d5;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(158,144,158,1);
    -moz-box-shadow: 10px 10px 5px -6px rgba(158,144,158,1);
    box-shadow: 10px 10px 5px -6px rgba(158,144,158,1);
}
.input{
    width: 100%;
    padding: 10px;
    border: 1px solid #d5d5d5;
}
.red{
    background-color: #FF5E62 !important;
    color: #fff;
    border: 1px solid #FF5E62 !important;
}
.red::placeholder {
    color: #fff;
    font-size: 1em;
    text-align: center;
}
.question {
    list-style: none; 
}
.question li{
    margin-bottom: 10px;
    cursor: pointer;
}
.radio{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display:  inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.list{
    list-style: none;
    display:flex;
    flex-direction: row;
    gap:10px
}
.list li{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #5B6E7F;
    border: 1px solid #5B6E7F;
    color: #fff;
    font-weight: bold;
}
.dropps{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.dropp-item{
    display: flex;
    flex-direction: row;
}	
.dropp-area{
    background-color: #263238;
    min-width: 180px;
    height:70px;
    margin-top: 10px;
    border-radius:5px;
}
.game{
    display: flex;
    flex-direction: row;
}
.dragg-item{
    width:180px;
    height:50px;
    margin-left:10px;
    border-radius:5px;
    background-color: #263238;
    color: #fff;
    font-size: 10px;
    padding: 6px;
    margin-top: 10px;
}
.right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.tree{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.list-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.list-horizontal .dragg-item{
    width: 140px;
}
.col{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 1024px) {
    .stage{
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .ivo-container{
        width: 1024px;
        height: 640px;
        background-color: #F4F4F4;
        border: 1px solid #000;
    }
   
    .container_info{
        width: 100%;
        margin-top: 30px;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
  
}

@media (max-width: 1024px) {
    .stage{
        display: block;
        
    }
    
    .header{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20 40px 20px 40px;
    }
    .header div{
        display: flex;
        justify-content: flex-end;  
    }
    .title{
        width: 100%;
    }
    
    
    .ivo-container{
        width: auto;
        height: auto;
        background-color: #F4F4F4;
        border: 1px solid #000;
    }
    .main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .legend{
        display: none;
    }
    .container_info{
        width: 100%;
        margin-top: 30px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image img{
        width: 100%;
    }
}
.pointer{
    cursor: pointer;

}
.negrilla{
    font-weight: 700;
}